.start-screen {    
    
    background-size: contain;  
    background-color: black;   
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
       height: 100vh;        
    }


}

.logo {
    position: relative;
    width: 35%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start-banner-container {    
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        width: 15vw;
        max-width: 100%;
        height: auto;
        transition: all 100ms ease-in-out;
        
        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
            transform: scale(1.05);
            transition: all 100ms ease-in-out;
        }
    }
}



